{# <!-- add_order.html --> #}
{% extends "base_head.html" %}
{% load staticfiles %}
{% block title %}添加订单{% endblock %}
{% block css_js %}
<link rel="stylesheet" type="text/css" href="{% static 'products.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'person_center.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'person_address.css' %}">
<script src={% static 'person_center.js' %} type="text/javascript" charset="utf-8" async defer></script>
  <script src={% static 'product.js' %} type="text/javascript" charset="utf-8" async defer></script>
<script src={% static 'person_address.js' %} type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}
{% block body %}
<div class="account-body">
  <div class="account-wrap">
  <div class="acc-tab-content">
          <div id="customer-address-list" class="customer-unit">
            <h2>选择收货地址
            </h2>
            <hr>
            <table class="tab-address">
                <tbody id="saveAddress">
                  <tr class="hide">
                      <td class="address-icon"></td>
                      <td class="address-name"></td>
                      <td>
                        <p class="setaddress hide">默认地址</p>
                        <p class="setaddress"><a class="setdefault" href="#">设为默认地址</a></p>
                      </td>
                      <td>
                        <a class="modify-address" href="#">编辑</a>
                        <a class="delete-address" href="#">删除</a>
                      </td>
                  </tr>
            {% for address in user.address_user.all %} 
                {% if address.bool_delete %}
                {% else %}  
              <tr id="addr{{forloop.counter}}" class="addr" {% if address.bool_default %} class="default" {% else %}  onmouseenter="show(this);" {% endif %} >
                        <td class="address-icon"><i class="png-fixed"></i>
                <input type="text" id="addr_id{{address.address_id}}" value="{{address.address_id}}" style="display:none" class="input_"></td>
                <td>
                          <span class="default-bold address-realname">{{address.name}}</span>
                          <span>(手机/电话：<label class="address-phone">{{address.phone_number}}</label>)</span><br>
                          <span class="address-detail">{{address.address}}</span>
                        </td>
                <td  style="width:200px;">
                  <p class="setaddress">
                  {% if address.bool_default %}<span>默认地址</span>
                  {% else %}<a  class="setdefault" href="#customer-address-list" onclick="set_default('{{address.address_id}}');">设为默认地址</a>
                  {% endif %}
                  </p>
                </td>
                <td class="fn-text-align-center" style="width:200px;">
                  <a class="modify-address" href="#customer-address-list" onclick="select_addr('addr{{forloop.counter}}',this,'addr_id{{address.address_id}}');">选择</a>
                  <a class="delete-address hide" href="#customer-address-list" onclick="re_select_addr(this);">重新选择</a>
                </td>

              </tr>
              {% endif %}
            {% endfor %}
                  <tr class="add-address-ctrl" id="add_new_addr">
                    <td colspan="4" class="fn-text-align-center png-fixed">
                      <a class="add-address-item" href="#new-address-form" onclick="show_add();">
                        <i class="circle-add"></i>
                        添加新收货地址
                      </a>
                    </td>
                  </tr>
                  <tr id="new-address-form" class="fn-hide">
                    <td colspan="4">
                      <form id="j-create-address">
                        <div class="customer-unit">
                          <div class="infobox" style="border:none">
                            <ul class="info-list address-list">
                              <li>
                                <label class="label" for="username">*收货人姓名：</label>
                                <input id="username" name="realname" class="txtfield" type="text" onblur="check_username(this);">
                                <span class="warn"></span>
                              </li>
                              <li>
                                <label class="label" for="telnum">*联系方式：</label>
                                <input id="telnum" name="telephone" class="txtfield" type="text" onblur="check_tel(this);">
                                <span class="warn"></span>
                              </li>
                              <li>
                                <label class="label" for="address">*详细地址：</label>
                                <input id="address" name="address" class="txtfield" placeholder="具体填写省/市/区" style="width:550px;" type="text" onblur="check_addr(this);">
                                <span class="warn textwarn"></span>
                              </li>
                              <li>
                                <input id="isDefault" class="isDefault-address" name="isDefault" type="checkbox">
                                <label for="isDefault">设置为默认地址</label>
                              </li>
                            </ul>
                            <input class="btn btn-success address-btn" type="button" value="保存收货人信息" onclick="add_addr();">
                            <a class="btn btn-white btn-nickname-cancle" href="#cancle_add" id="cancle_add" onclick="cancleadd();">取消</a>
                          </div>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div id="customer-address-list" class="customer-unit">
            <h2>确认订单信息
            </h2>
            <hr>
            <table class="tab-address">
                <tbody id="saveAddress">
              <tr > 
                <th class="address-icon" style="width:400px;">{{user.nickname}}的小店
                </th>
                  <th  class="address-icon" style="width:200px;">单价（元）
                </th>
                <th class="address-icon" style="width:300px;">
                  数量
                  </th>
                  <th  class="address-icon" style="width:200px;">小计
                </th>
              </tr>
              <tr > 
                <td class="address-icon" style="width:300px;">
                  <div style="display:inline-block;">
                    <a href="{{goods.get_absolute_url}}" title="" target="blank"><img src="{{goods.goods_photo.all.0.image.thumb_url}}" alt=""></a><br></div>
                    <div style="display:inline-block;width:90px;height:90px;">
                    <a href="{{goods.get_absolute_url}}" target="_blank"> <span>{{goods.title}}</span></a>
                    <input type="text" name="goods_id" value="{{goods.goods_id}}" id="goods_id" style="display:none;">
                  </div>
                </td>
                <td style="text-align:center;color: rgb(255, 68, 0);">
                  <div>
                    <span class="address-detail" id="_price">{{goods.price}}</span>
                  </div>
                </td>
                  <td  class="address-icon" style="width:200px;">  
                    <div class="tb-stock" id="J_Stock">
                     <a href="javascript:;" hidefocus="" id="J_Reduce" class="tb-reduce  tb-iconfont tb-disable-reduce" onclick="reduce_one();">-</a>
                     <input id="J_IptAmount" type="text" name="number" value="{{product_number}}" maxlength="8" title="请输入购买量" onchange="amount_change(this)" size="5" sytle="text-align:center;">
                     <a href="javascript:;" hidefocus="" id="J_Increase" class="tb-increase  tb-iconfont" onclick="increase_one();">+</a>
                     </div>
                </td>
                  <td  style="text-align:center;color: rgb(255, 68, 0);">
                    <span class="address-detail" id="_total">{{goods.price}}</span>
                </td>
              </tr>
              <tr style="">
                <td   class="address-icon" style="text-align:right;"> <span> （可以在这里可告诉卖家您的特殊要求）<b>补充说明</b></span></td>
                <td colspan="3" style="text-align:left;">
                  <input type="text" id="supplement" size="120" placeholder="最多可以输入80字">
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <input id="doresetpassword" class="btn btn-success customer-btn" type="button" value="提交订单"  onclick="add_order();"></td>
                <td></td>
              </tr>
                </tbody>
            </table>
          </div>
        </div>

  </div>
</div>
{% endblock %}