<!-- recent_browsed.html -->
{% extends "base_person.html" %}
{% load staticfiles %}
{% block title %}最近浏览{% endblock %}
{% block css_js %}
<link rel="stylesheet" type="text/css" href="{% static 'person_center.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'person_address.css' %}">
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});	
function delete_browsed (browsed_id) {
	$.post('/tradding/browsed/delete',
		{
			browsed_id:browsed_id+"*_*"+document.getElementById("user_id").value
		}, function(data, textStatus, xhr) {
			if(data==""){
				window.location.reload();				
			}
	        else if(data=="ok")
	        {
	        	alert('网络状况不好，请稍后尝试');
	        }
		});	
}
</script>
{% endblock %}
{% block browsed %}<a class="selected" href="/tradding/personal_center">{% endblock %}
{% block body %}
<div class="account-body">
  <div class="account-wrap">
  <div class="acc-tab-content">
          <div id="customer-address-list" class="customer-unit">
            <h2>最近浏览的宝贝
            </h2>
            <hr>
            <table class="tab-address">
                <tbody id="saveAddress">
              <tr > 
                <td class="address-icon" style="width:300px;">
                  标题
                  </td>
                <td class="address-icon" style="width:400px;">详细描述
                </td>
                  <td  class="address-icon" style="width:200px;">操作
                </td>
              </tr>
            {% for favorite in items %}
              <tr > 
                <td class="address-icon" style="width:300px;">
                  <div >
                    <a href="{{favorite.goods_id.goods_photo.all.0.get_absolute_url}}" title="" target="blank"><img src="{{favorite.goods_id.goods_photo.all.0.image.thumb_url}}" alt=""></a><br>
                        <p><a href="{{favorite.goods_id.get_absolute_url}}" target="_blank" class="se_a">{{favorite.goods_id.title}}</a></p>
                    <input type="text" id="goods_id{{favorite.goods_id.goods_id}}" value="{{favorite.goods_id.goods_id}}" style="display:none">
                  </div></td>
                <td class="address-icon" style="width:400px;">
                  <div>
                    <span class="address-detail">{{favorite.goods_id.special}}</span>
                  </div>
                </td>
                  <td  class="address-icon" style="width:200px;">
                  <a class="modify-address" href={{favorite.goods_id.get_absolute_url}}>浏览</a>
                  <a class="delete-address" href="#customer-address-list" onclick="delete_browsed('{{favorite.id}}');">删除</a>
                </td>
              </tr>
            {% endfor %}
                </tbody>
            </table>
          </div>

        </div>

  </div>
</div>
{% endblock %}