<!-- products_detail.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{object.title}}{% endblock %}
{% block css_js %}
	<link rel="stylesheet" href={% static 'header.css' %}>
	<link rel="stylesheet" href={% static 'product.css' %}>
<script src={% static 'person_center.js' %} type="text/javascript" charset="utf-8" async defer></script>
	<script src={% static 'product.js' %} type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}
{% block body %}
<div id="hd" style="border-bottom: 1px solid #c1c1c1;">
	<div id="tools">
		<div class="tools">
		    <div class="ddnewhead_operate" dd_name="顶链接">
		        <ul class="ddnewhead_operate_nav">
		        <li class="ddnewhead_cart"><a href="/tradding/shopping_cart" name="购物车" dd_name="购物车"><i class="icon_card"></i>购物车<b id="cart_items_count"></b></a></li>
		        <li><a target="_blank" href="/tradding/order_list" name="我的订单" dd_name="我的订单" rel="nofollow">我的订单</a></li>
		        <li class="my_dd"><a class="menu_btn" target="_blank" href="/tradding/personal_center" name="我的" dd_name="我的" id="a_myddchannel">我的主页</a>
		            <ul class="ddnewhead_gcard_list" id="__ddnav_mydd" style="display: none; width: 86px;">
		                <li><a ></a></li>
		            </ul>
		        </li>
		        <li><a class="menu_btn" href="/tradding/seller_center" name="qycg" id="seller_center">商家中心</a>
		            <ul class="ddnewhead_gcard_list" id="__ddnav_qycg"style="display: none; width: 82px;">
		            </ul>
		        </li>
		        <li class="hover "><a class="menu_btn" href="javascript:void(0);" style="cursor:default;" name="ddkf_0" dd_name="客户服务" id="a_bzzxchannel" >客户服务</a>
		            <ul class="ddnewhead_gcard_list" id="__ddnav_bzzx" >
		                <li><a target="_blank" href="http://help.dangdang.com/index" name="ddkf_2" dd_name="帮助中心">帮助中心</a></li>
		                <li><a target="_blank" href="http://help.dangdang.com/details/page206" name="ddkf_4" dd_name="联系客服">联系客服</a></li>
		                <li><a target="_blank" href="http://help.dangdang.com/email_contact" name="tsjy_1" dd_name="我要投诉" rel="nofollow">我要投诉</a></li>
		                <li><a target="_blank" href="http://help.dangdang.com/email_contact" name="tsjy_2" dd_name="意见建议" rel="nofollow">意见建议</a></li>
		            </ul>
		        </li>
		        </ul>
		        <div class="ddnewhead_welcome" display="none;">
		        	<input id="user_id" type="text" value="{{user.user_id}}" style="display:none">
		            <span id="nickname">{% if user_name %}
		            <span class="hi">Hi,<a href="" target="_blank" class="login_link">{{user_name}}</a>
		            <b><a href="{{logout_url}}" target="_self">[退出]</a></b></span>
		            {% else %}欢迎光临本站&nbsp;
		            <a dd_name="登录" href="/tradding/login" target="_self" rel="nofollow" class="login_link">登录</a>
		            <a dd_name="免费注册" href="/tradding/register" target="_self" rel="nofollw">免费注册</a></span>
		            {% endif %}
		        </div>
		        <div class="new_head_znx" id="znx_content" style="display:none;"></div>
		    </div>
		</div>
		</div>
	<div style="position:relative;" class="logo_line_out">
		<div class="logo_line" dd_name="搜索框">
		    <div class="logo">
		    	<a href="/" title=""><img src={% static "images/logo.png" %} usemap="#logo_link"></a>
		    </div>
		    <div class="search">
		        <form action="http://search.dangdang.com" name="searchform" id="form_search_new" onsubmit="return searchsubmit();" method="GET">
		            <label for="key_S" class="label_search" id="label_key" onclick="this.style.color='rgb(255, 255, 255)';" style="visibility: visible; color: rgb(102, 102, 102);">新常态改变中</label>
		            <input type="text" class="text" name="key" id="key_S" autocomplete="off" onclick="key_onclick();" onfocus="this.className='text';" onblur="key_onblur();" onbeforepaste="onpaste_search();">
		            <input type="submit" id="search_btn" style="display:none">
		            <input type="button" class="button" dd_name="搜索按钮" onclick="javascript:document.getElementById('search_btn').click();">
		        </form>
		    </div>
		    <div class="search_bottom">
		        <div class="search_hot">热搜: 
			        <a href="http://search.dangdang.com/?key=%BB%C4%D2%B0%C7%F3%C9%FA" name="hotword" target="_blank">荒野求生</a>
			        <a href="http://search.dangdang.com/?key=%B6%F9%CD%AF%D3%F0%C8%DE%B7%FE" name="hotword" target="_blank">儿童羽绒服</a>
			        <a href="http://search.dangdang.com/?key=%B5%B1%B5%B1%D7%D4%D3%AA%D0%C2%B0%B2%E2%F9" name="hotword" target="_blank">新安怡</a>
			        <a href="http://search.dangdang.com/?key=%D1%FD%BE%AB%B5%C4%BF%DA%B4%FC" name="hotword" target="_blank">妖精的口袋</a>
			        <a href="http://search.dangdang.com/?key=%C9%AD%C2%ED" name="hotword" target="_blank">森马</a>
		        </div>
		        <a href="http://search.dangdang.com/advsearch" class="search_advs" target="_blank" name="ddnav_adv_s" dd_name="高级搜索">高级搜索</a>
		    </div>
		</div>
	</div>
</div>
<div id="content">
	<div id="product_inf">
		<div id="border">
			<div id="left">
				<div id="img_div">
					{% for img in object.goods_photo.all %}
					<img src="{{img.image.url}}" alt="{{object.title}}" class="goods_img" z-index="1" id="big{{img.id}}">
					{% endfor %}			
				</div>
				<div id="img_div_small">
					{% for img in object.goods_photo.all %}
					<img src="{{img.image.thumb_url}}" alt="{{object.title}}" class="small_img" z-index="1" id="{{img.id}}" onclick="big('{{img.id}}')">
					{% endfor %}			
				</div>
			</div>
			<div id="center">
				<div id="title">
					<h3 id="t">{{object.title}}</h3>
				</div>
				<div id="special">
					<p>{{object.special}}</p>
				</div>		
				<div id="price">
					<ul class="tb-meta">
					    <li id="J_StrPriceModBox" class="tb-detail-price tb-clearfix J_PriceItem" shortcut-key="p" shortcut-label="查看价格" shortcut-effect="focus" data-price-wight="0">
							<span class="tb-property-type"> 价格</span>
							<div class="tb-property-cont">
							<strong id="J_StrPrice" style="font-size: 24px; color: rgb(255, 68, 0); font-weight: 700; text-decoration: none;"><em class="tb-rmb">¥</em><em class="tb-rmb-num">{{object.price}}</em></strong></div>
						</li>					    
						 <li id="J_Counter" class="tb-counter">
							 <div class="tb-counter-bd">
								 <div class="tb-rate-counter">
								 <a >
								 <strong id="J_RateCounter">615</strong>
								 <span>累计评论</span>
								 </a>
								 </div>
								 <div class="tb-sell-counter">
								 <a >
								 <strong id="J_SellCounter">217</strong>
								 <span>交易成功</span>
								 </a>
								 </div>
							 </div>
						 </li>
					 </ul>
				</div>	
				<div id="num">
					<dl class="tb-amount tb-clearfix">
					<dt class="tb-property-type">数量</dt>
					<dd>
					<span class="tb-stock" id="J_Stock">
					 <a href="javascript:;" hidefocus="" id="J_Reduce" class="tb-reduce  tb-iconfont tb-disable-reduce" onclick="reduce_one();">-</a>
					 <input id="J_IptAmount" type="text" class="tb-text" value="1" maxlength="8" title="请输入购买量" onchange="amount_change(this)" >
					 <a href="javascript:;" hidefocus="" id="J_Increase" class="tb-increase  tb-iconfont" onclick="increase_one();">+</a>件
					 </span>
					(库存<span id="J_SpanStock" class="tb-count">911</span>件)
					</dd>
					</dl>
				</div>
				<div id="add" class="tb-action tb-clearfix ">
					<div class="tb-btn-buy"><a href="#" onclick="buy('{{object.goods_id}}');" >立即购买</a></div>
					<div class="tb-btn-add"><a href="#" onclick="add_pro('{{object.goods_id}}');">加入购物车</a></div>
				</div>
			<div id="description">
				{{object.description|safe}}
			</div>		
			</div>	
		</div>
	</div>
	<div id="right">
		<div id="seller">
			 <div class="tb-shop-seller">
				 <dl>
					 <dt>掌柜：</dt>
					 <dd>
					 <a class="tb-seller-name" href={{object.user.get_absolute_url}}>
					 {{object.user.nickname}}
					 </a>
					 </dd>
				 </dl>
			 </div>
			 <div class="tb-shop-ww">
				 <dl>
					 <dt>联系：</dt>
					 <dd><span>{{object.user.phone_number}}</span>
					 </dd>
				 </dl>
			 </div>
			<div class="tb-shop-info-ft">
			<a href={{object.user.get_absolute_url}} >进入店铺</a>
			<a href="javascript:void();" onclick="add_fav('{{object.user.user_id}}')">收藏店铺</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}