/*middle.css*/

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}
ul, ol, li {
list-style: none;
}
#bd {
background-color: #fff;
width: 1200px;
font: 12px 'Hiragino Sans GB',"Simsun","Arial";
margin: 0 auto;
color: #686868;
}
.home_first_screen {
width: 1200px;
margin: 0 auto;
padding-bottom: 30px;
}
.home_first_screen {
zoom: 1;
}
.home_nav_l {
float: left;
width: 185px;
padding-right: 4px;
background: url(./images/home_y_sprite_1017.png) repeat-y 0 0;
position: relative;
z-index: 40;
padding-top: 3px;
background-color: #fafafa;
}
.home_nav_l .new_pub_nav {
height: 481px;
width: 185px;
background-color: #fafafa;
}
.home_nav_l .new_pub_nav li {
height: 34px;
padding-left: 20px;
color: #323232;
font-family: 'Microsoft Yahei';
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-stretch: normal;
position: relative;
z-index: 1;
}
.home_nav_l .new_pub_nav li a {
color: #323232;
font: 14px/34px "Microsoft Yahei";
}
.home_first_screen a {
text-decoration: none;
}
.home_nav_l .new_pub_nav li.on {
background: #fff url(./images/home_sprite2_1017.png) no-repeat right 0;
color: #f07828;
z-index: 10;
margin-right: -1px;
}
.home_nav_l .new_pub_nav li.on a, .home_nav_l .new_pub_nav li.on a:hover, .home_nav_l .new_pub_nav li.on span ,.home_nav_l .new_pub_nav li.on span a{
color: #ff2832;
font-family: 'Microsoft Yahei';
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-stretch: normal;
line-height: 34px;
}
.new_pub_nav_pop {
position: absolute;
left: 185px;
top: 0;
border: 1px solid #e6e6e6;
width: 760px;
padding-left: 14px;
overflow: hidden;
min-height: 483px;
_height: expression(this.scrollHeight < 483 ? "483px":"auto");
overflow: hidden;
font-family: 'Hiragino Sans GB', Simsun;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-stretch: normal;
line-height: normal;
background-color: #fff;
}
.new_pub_nav_pop .left {
padding: 4px 0 2000px 2px;
margin-bottom: -2000px;
float: left;
width: 235px;
border-right: 1px solid #fff;
height: auto;
}
.new_pub_nav_pop .left li {
width: 229px;
padding: 15px 0 13px 6px;
}
.new_pub_nav_pop .left li.light {
 background-color: #fafafa; 
}
.new_pub_nav_pop .left h4 {
padding-left: 10px;
color: #ff2832;
font-size: 14px;
font-weight: bold;
font-family: "Microsoft Yahei";
}
.new_pub_nav_pop .left .e {
padding-top: 4px;
line-height: 22px;
width: 228px;
margin-left: 1px;
overflow: hidden;
}
.new_pub_nav_pop .left .e span, .new_pub_nav_pop .left .e a, .new_pub_nav_pop .left .e a:hover {
color: #646464;
padding: 0 10px;
background: url(./images/home_sprite2_1017.png) no-repeat left -30px;
display: inline-block;
margin-left: -1px;
}
.new_pub_nav_pop .left h4 a, .new_pub_nav_pop .left h4 a:hover {
color: #ff2832;
font-size: 14px;
font-weight: bold;
background: url(./images/home_sprite2_1017.png) no-repeat right -47px;
padding-right: 12px;
}
.new_pub_nav_pop .left li h3 {
padding: 15px 0 4px 8px;
font: normal 12px 'Hiragino Sans GB',"Simsun";
color: #474747;
}
.new_pub_nav_pop .left li h3 a, .new_pub_nav_pop .left li h3 a:hover {
color: #474747;
}
.new_pub_nav_pop .left .ph {
line-height: 24px;
padding: 0 0 0 8px;
font-family: 'Hiragino Sans GB',"Simsun";
width: 224px;
}
.new_pub_nav_pop .left .ph a {
font-family: 'Hiragino Sans GB',"Simsun";
color: #686868;
width: 112px;
display: inline-block;
}
.home_circle_c {
float: left;
width: 772px;
overflow: hidden;
}
.home_circle_c .focus_box {
width: 772px;
height: 310px;
overflow: hidden;
position: relative;
z-index: 10;
}
.home_circle_c .tehui_box {
width: 771px;
margin: 1px 0 0 1px;
height: 172px;
border-bottom: 1px solid #e3e3e3;
overflow: hidden;
position: relative;
}
.home_circle_c .focus_box .btn {
position: absolute;
width: 30px;
height: 63px;
overflow: hidden;
background-image: url(./images/home_sprite2_1017.png);
background-repeat: no-repeat;
top: 122px;
font-size: 0;
line-height: 285px;
cursor: pointer;
opacity: .5;
filter: alpha(opacity=50);
}
.home_circle_c .focus_box .btn_l {
background-position: 0 -103px;
left: -30px;
}
.home_circle_c .focus_box .btn_r {
background-position: -46px -103px;
right: -30px;
}
.home_circle_c .focus_box .pic li {
height: 310px;
overflow: hidden;
}
.home_circle_c .focus_box .tab {
position: absolute;
right: 6px;
bottom: 10px;
}
.home_circle_c .focus_box .tab li {
float: left;
width: 20px;
height: 20px;
overflow: hidden;
font-size: 12px;
cursor: pointer;
background-color: #8c8c8c;
margin-right: 10px;
border-radius: 10px;
font-family: "arial";
color: #fff;
line-height: 20px;
text-align: center;
}
.home_circle_c .focus_box .tab li.on {
background-color: #ff2832;
}
.home_circle_c .tehui_box {
width: 771px;
margin: 1px 0 0 1px;
height: 172px;
border-bottom: 1px solid #e3e3e3;
overflow: hidden;
position: relative;
}
.home_circle_c .tehui_box .btn_l {
background-position: 0 -201px;
left: 0;
}
.home_circle_c .tehui_box .btn_r {
background-position: -20px -201px;
right: 0;
}
.home_circle_c .tehui_box .btn {
width: 20px;
height: 50px;
overflow: hidden;
line-height: 190px;
font-size: 0;
position: absolute;
top: 65px;
background-image: url(./images/home_sprite2_1017.png);
background-repeat: no-repeat;
z-index: 20;
cursor: pointer;
opacity: .4;
filter: alpha(opacity=40);
}
.home_circle_c .tehui_box ul {
width: 12000px;
position: absolute;
left: 0;
top: 0;
z-index: 10;
}
.home_circle_c .tehui_box ul li {
width: 192px;
height: 172px;
overflow: hidden;
float: left;
border-right: 1px solid #e3e3e3;
position: relative;
}
.home_circle_c .tehui_box ul li a {
display: block;
width: 192px;
height: 172px;
}
.home_circle_c .tehui_box ul li a img {
display: block;
width: 192px;
height: 172px;
}
.home_circle_c .tehui_box ul li a .cover {
display: none;
width: 192px;
height: 172px;
background-color: #000;
position: absolute;
left: 0;
top: 0;
opacity: .04;
filter: alpha(opacity=4);
}
.home_circle_c .tehui_box ul li a:hover .cover {
opacity: 0;
filter: alpha(opacity=4);
}
.home_notice_r {
float: left;
width: 235px;
padding-left: 4px;
}
.home_notice_r_pic {
width: 235px;
height: 112px;
overflow: hidden;
}
.home_notice_r_pic img {
display: block;
}
img {
border: 0;
}
.home_notice_gg {
margin-top: 1px;
}
.home_notice_gg h3 {
border-left: 1px solid #e6e6e6;
border-top: 1px solid #e6e6e6;
height: 29px;
}
.home_notice_gg h3 span {
float: left;
width: 116px;
border-right: 1px solid #e6e6e6;
border-bottom: 1px solid #e6e6e6;
height: 29px;
background-color: #fcfcfc;
font-family: 'Microsoft Yahei';
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-stretch: normal;
line-height: 29px;
text-align: center;
color: #646464;
cursor: default;
}
.home_notice_gg a, .home_notice_gg a:hover {
color: #646464;
}
.home_notice_gg h3 span.on {
background-color: #fff;
border-bottom: 1px solid #fff;
color: #323232;
box-shadow: 0 1px 1px #fafafa inset;
}
.home_notice_gg span.on a:hover {
color: #ff2832;
}
.home_notice_gg ul {
height: 143px;
width: 233px;
padding-top: 11px;
overflow: hidden;
position: absolute;
}
.home_notice_gg ul li {
line-height: 24px;
padding-left: 18px;
position: relative;
overflow: hidden;
width: 205px;
height: 24px;
background: url(./images/home_sprite2_1017.png) 10px -259px no-repeat;
}
.home_notice_gg a:hover {
text-decoration: none;
color: #ff2832;
}
.home_notice_gg ul li a:hover, .home_notice_gg ul li a.or, .home_notice_gg ul li a.or:hover {
color: #ff2832;
}