/*person_address.css*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}
div {
display: block;
}
button, input {
line-height: normal;
outline: none;
}
select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
cursor: pointer;
}
.acc-tab-content {
zoom: 1;
min-height: 450px;
_height: 450px;
padding: 25px 17px;
background-color: #fff;
-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.acc-tab-content:after {
content: "";
display: block;
height: 0;
clear: both;
}
.customer-unit {
margin-bottom: 27px;
}
.customer-unit h2 {
margin-bottom: 10px;
font-size: 14px;
font-weight: bold;
text-indent: 2px;
}
.customer-unit h2 span {
margin-left: 3px;
font-size: 12px;
font-weight: normal;
}
.strong-orange {
font-weight: bold;
color: #ff5400;
}
.tab-address {
width: 100%;
text-align: left;
border: 1px solid #ddd;
margin-top: 24px;
}
.tab-address td span{
  word-break: break-all;
  word-wrap: break-word;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
.hide {
display: none;
}
.tab-address tbody tr .address-icon {
text-align: center;
}
.tab-address tbody tr td {
padding: 22px 10px;
border-top: 1px dashed #ddd;
}
.tab-address tbody tr.default .address-icon i {
background: url(images/icon.png) -80px -260px;
}
.tab-address tbody tr .address-icon i {
width: 26px;
height: 30px;
display: inline-block;
background: url(images/icon.png) -110px -260px;
}
.tab-address tbody tr.default .default-bold {
font-weight: bold;
}
.tab-address tbody tr td .setaddress {
width: 90px;
color: #ffa477;
}
.tab-address tbody tr td a.setdefault {
display: none;
}
.tab-address tbody tr td a {
margin-right: 10px;
font-weight: normal;
color: #81bc00;
}
.tab-address tbody tr td a:hover {
text-decoration: underline;
}
.fn-text-align-center {
text-align: center;
}
.tab-address tbody tr td .circle-add {
width: 19px;
height: 19px;
display: inline-block;
background: url(images/add.png) no-repeat;
vertical-align: top;
}
.infobox {
zoom: 1;
padding: 20px 32px;
border-top: 1px solid #ddd;
}
.info-list.address-list {
float: none;
}
.infobox:after {
content: "";
display: block;
height: 0;
clear: both;
}
.btn {
padding: 7px 20px;
font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-top: 1px solid #fff;
border-left: none;
border-right: none;
background-color: #fff;
}
.address-btn {
margin: 5px 0 0 82px;
}
.btn-success {
color: #fff;
cursor: pointer;
border-bottom: 1px solid #81bc00;
background-color: #81bc00;
}
.btn-success:hover {
color: #fff;
border-bottom: 1px solid #008900;
background-color: #21ba1c;
}
.info-list li {
zoom: 1;
width: 800px;
margin: 8px 0;
}
.info-list li:after {
content: "";
display: block;
height: 0;
clear: both;
}
.info-list li .label {
display: block;
float: left;
width: 84px;
line-height: 30px;
}
.info-list li .txtfield {
width: 250px;
padding: 5px 3px;
border: 1px solid #ddd;
outline: none;
}
.info-list li .warn {
margin-left: 10px;
line-height: 30px;
color: #f00;
}
.info-list li .txtareafield.subtxtareafield {
margin: 8px 0 0 82px;
}
.info-list li .tips {
margin-left: 10px;
line-height: 30px;
color: #999;
}
.isDefault-address {
margin-left: 82px;
}
.fn-hide {
  display: none;
}
.btn-white {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  font-weight: bold;
  border: 1px solid #ddd;
  background-color: #fffbfb;
}
#popup-address {
  width: 820px;
}
.popup {
  position: fixed;
  _position: absolute;
  left: 50%;
  top: 50%;
  padding: 0 20px;
  min-width: 450px;
  max-width: 1000px;
  background-color: #fff;
  _border: 1px solid #d3d3d3;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  display: none;
  z-index: 2000;
}
.popup h3 {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: url(images/line.png) no-repeat bottom center;
  background-size: contain;
}
.popup-close {
  position: absolute;
  right: -10px;
  top: 0;
  cursor: pointer;
  font-size: 40px;
  font-family: "Vani","微软雅黑","san-serief";
  font-weight: normal;
}
.popup-body {
  padding: 20px;
}
.popup-ctl {
  margin: 10px 0 20px 0;
  text-align: right;
}
.popup-list {
  padding-right: 20px;
}
.popup-list li {
  zoom: 1;
}
.popup-list li label {
  display: block;
  width: 100px;
  float: left;
  line-height: 40px;
  margin-right: 10px;
  text-align: right;
}
.popup-list li input {
  margin: 5px 0;
  padding: 5px 3px;
  border: 1px solid #c6c6c6;
  outline: none;
}
.overlayer {
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  _height: 1900px;
  background: rgba(0,0,0,0.3);
  display: none;
  z-index: 1000;
}

